
.icon-users:before { content: '\e800'; } /* '' */
.icon-truck:before { content: '\e801'; } /* '' */
.icon-certificate:before { content: '\e802'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-steam-squared:before { content: '\f1b7'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */